@import "../../Container/style/style.scss";

.asideB{
    width: 100%;
    &__container{
        margin: 10px;
        .asideB__container--title{
            display: flex;
            justify-content: center;
            .asideB__container--orange{
                margin: 5px;
                font-size: 11vmin;
                color: $Color-Uno;
                text-shadow: 0px 2px #000000d9;
            }
            .asideB__container--blue{
                color: $Color-Dos;
                @extend .asideB__container--orange;

            }
        }
        .asideB__container--paragraph{
            border: 4px solid #0A91C6;
            border-radius: 20px;
            margin: 20px 0;
            padding: 5px;
            @extend .asideB__container--title;
            .asideB__container--p{
                font-size: 4vmin;
            }
        }
    }
    &__paleta{
        display: flex;
        justify-content: center;
        margin: 10px;
        .asideB__paleta--color{
            font-size: 10vmin;
        }
        .asideB__paleta--img{
            display: none;
        }
    }
    .asideB__container2{
        @extend .asideB__container;
        .asideB__container2__items{
            flex-direction: column;
            @extend .asideB__container--title;
            .asideB__container2__circleN{
                margin: 10px;
                @extend .asideB__container--title;
                .asideB__container2__circleO{
                    width: 50vmin;
                    height: 50vmin;
                    background-color: $Color-Uno;
                    border-radius: 50%;
                    box-shadow: 0px 4px 8px 1px black;
                }
            }
            .asideB__container2__circleB{
                @extend .asideB__container2__circleN;
                .asideB__container2__circleB{
                    background-color: $Color-Dos;
                    @extend .asideB__container2__circleO;
                }
            }
            .asideB__container2__textColor{
                flex-direction: column;
                @extend .asideB__container--title;
                .asideB__container2__HEX{
                    @extend .asideB__container--title;
                    .asideB__container2__H{
                        margin: 5px;
                        font-size: 5vmin;
                        font-weight: 800;
                    }
                    .asideB__container2__key{
                        margin: 5px;
                        font-size: 5vmin;
                    }
                }
            }
            .asideB__container2__why{
                flex-direction: column;
                margin: 10px;
                @extend .asideB__container--title;
                .asideB__container2__whyP{
                    text-align: center;
                    color: $Color-Uno;
                    font-size: 6vmin;
                    font-weight: 800;
                }
                .asideB__container2__whyR{
                    text-align: center;
                    color: $Color-Uno;
                    font-size: 6vmin;
                }
                .asideB__container2__whyPB{
                    color: $Color-Dos;
                    @extend .asideB__container2__whyP;
                }
                .asideB__container2__whyRB{
                    color: $Color-Dos;
                    @extend .asideB__container2__whyR;
                }
            }
        }
    }
    .asideB__container3{
        background-color: $Color-Uno;
        @extend .asideB__container2;
        .asideB__container2__circleW{
            @extend .asideB__container2__circleN;
            .asideB__container2__circleWH{
                width: 50vmin;
                height: 50vmin;
                border-radius: 50%;
                box-shadow: 0px 4px 8px 1px black;
                background-color: white;
            }
        }
        .asideB__container2__textColor{
            .asideB__container2__HEX{
                .asideB__container2__H{
                    color: white;
                }
                .asideB__container2__key{
                    color: white;
                }
            }
        }
        .asideB__container2__why{
            flex-direction: column;
            margin: 10px;
            @extend .asideB__container--title;
            .asideB__container2__whyPW{
                text-align: center;
                color: $Color-Cuatro;
                font-size: 6vmin;
                font-weight: 800;
            }
            .asideB__container2__whyRW{
                text-align: center;
                color: $Color-Cuatro;
                font-size: 6vmin;
            }
        }    
    }
    .asideB__container4{
        background-color: $Color-Dos;
        @extend .asideB__container3;
        .asideB__container2__circleBL{
            @extend .asideB__container2__circleN;
            .asideB__container2__circleBK{
                width: 50vmin;
                height: 50vmin;
                border-radius: 50%;
                box-shadow: 0px 4px 8px 1px black;
                background-color: black;
            }
        }
        .asideB__container2__textColor{
            .asideB__container2__HEX{
                .asideB__container2__H{
                    color: black;
                }
                .asideB__container2__key{
                    color: black;
                }
            }
        }
        .asideB__container2__why{
            flex-direction: column;
            margin: 10px;
            @extend .asideB__container--title;
            .asideB__container2__whyPBL{
                text-align: center;
                color: $Color-tres;
                font-size: 6vmin;
                font-weight: 800;
            }
            .asideB__container2__whyRBL{
                text-align: center;
                color: $Color-tres;
                font-size: 6vmin;
            }
        }    
    }
}


@media only screen and (min-width: 1024px){
    .asideB{
        &__container{
            .asideB__container--paragraph{
                margin: 20px 228px;
            }
        }
        &__paleta{
            margin: 100px 10px;
        }
        .asideB__container2{
            margin: 10px 0;
            .asideB__container2__items{
                align-items: center;
                flex-direction: initial;
                .asideB__container2__textColor{
                    margin-top: 38px;
                    .asideB__container2__HEX{
                        justify-content: flex-start;
                        .asideB__container2__H{
                            font-size: 3vmin;
                        }
                        .asideB__container2__key{
                            font-size: 3vmin;
                        }
                    }
                }
                .asideB__container2__why{
                    .asideB__container2__whyP{
                        font-size: 4vmin;
                    }
                    .asideB__container2__whyR{
                        font-size: 24px;
                    }
                }
            }
        }
        .asideB__container3{
            margin: 10px 0;
            .asideB__container2__textColor{
                margin-top: 38px;
                .asideB__container2__HEX{
                    justify-content: flex-start;
                    .asideB__container2__H{
                        font-size: 3vmin;
                    }
                    .asideB__container2__key{
                        font-size: 3vmin;
                    }
                }
            }
            .asideB__container2__why{
                .asideB__container2__whyPW{
                    font-size: 4vmin;
                }
                .asideB__container2__whyRW{
                    font-size: 24px;
                }
            }    
        }
        .asideB__container4{
            .asideB__container2__textColor{
                .asideB__container2__HEX{
                    .asideB__container2__H{
                        font-size: 3vmin;
                    }
                    .asideB__container2__key{
                        font-size: 3vmin;
                    }
                }
            }
            .asideB__container2__why{
                .asideB__container2__whyPBL{
                    font-size: 4vmin;
                }
                .asideB__container2__whyRBL{
                    font-size: 24px;
                }
            }    
        }
    }
}

@media only screen and (min-width: 1440px){
    .asideB{
        &__paleta{
            margin: 100px 10px;
        }
        .asideB__container2{
            margin: 10px 40px;
            .asideB__container2__items{
                align-items: center;
                flex-direction: initial;
                .asideB__container2__textColor{
                    margin-top: 38px;
                    .asideB__container2__HEX{
                        justify-content: flex-start;
                        .asideB__container2__H{
                            font-size: 3vmin;
                        }
                        .asideB__container2__key{
                            width: 258px;
                            font-size: 3vmin;
                        }
                    }
                }
                .asideB__container2__why{
                    .asideB__container2__whyP{
                        font-size: 4vmin;
                    }
                    .asideB__container2__whyR{
                        font-size: 24px;
                    }
                }
            }
        }
        .asideB__container3{
            padding: 0 15px;
        }
    }
}